* {
  font-family: "Karma", serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

nav.navbar {
  background-image: url("/img/navbar.jpg") !important;
  background-position: center;
  box-shadow: 0px 2px 10px 5px black;
  background-size: cover;
}

.animated-navbar {
  margin-top: 220px;
}

.animated-navbar.scrolled nav {
  height: 50px;
  transition: height 0.5s ease-in;
  opacity: 0.8;
}

.animated-navbar.unscrolled nav {
  height: 200px;
  transition: height 0.5s ease-out;
  opacity: 1;
}

div.container > span.navbar-brand a {
  color: white;
  font-weight: 800;
  text-shadow: 3px 3px 3px black;
}

div.container > span.navbar-brand a:hover {
  color: white;
}

input.search-input {
  max-width: 200px;
}

input.search-input:focus {
  width: 100%;
}

input.search-input::placeholder {
  font-style: italic;
}
